# Python
__pycache__/
*.py[cod]
*.egg-info/
*.egg

# Build & Distribution
dist/
build/
sdist/

# Type checking
.mypy_cache/

# Testing
.pytest_cache/
htmlcov/
.coverage

# Virtual environments
venv/
.venv/

# Environment
.env
.env.*

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
